.grid__container {
    list-style: none;
    margin: 0;
    padding: 0;
}

.grid__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.grid__item{
    background-color: lightcoral;
    padding: 1rem;
}