html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, serif;
}

table{
    width: 1000px;
    border-collapse: collapse;
    border: 1px solid darkgrey;
    table-layout: fixed;
}

table th,
table td {
    border: 1px solid darkgrey;
    padding: 4px 8px;
}

table thead th{
    text-align: left;
    background-color: darkgrey;
}

/* table tr:nth-child(2n+1){
    background-color: lightgrey;
} */

table tr:nth-child(odd){
    background-color: lightgrey;
}

blockquote {
    border-left: solid rgb(221, 221, 221);
    font-style: italic;
}
